services:
  mysql:
    image: mysql
    container_name: mysql_projeto_IPOG_biblioteca
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ./Script_SQL_Atividade_Avaliativa_IV.sql:/docker-entrypoint-initdb.d/init.sql:ro
